# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env*.local

# debug / misc
*.log
.DS_Store
next-env.d.ts
*.tsbuildinfo

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
.last-run.json
